<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" style="background: url('<%= asset_path 'bg/port01.jpg'%>');">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h5 class="heading fw-semibold page-heading text-white title-dark">Portfolio</h5>
          <p class="text-white-50 para-desc mx-auto mb-0">our Latest collection</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Start -->
<section class="section">
  <div class="container-fluid">
    <div id="grid" class="row mt-4">
      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["branding"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/01.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/01.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Leaf and Letter</a>
            <small class="text-muted fw-normal mb-0">Branding</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["designing"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/02.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/02.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Papers</a>
            <small class="text-muted fw-normal mb-0">Designing</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["photography"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/03.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/03.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Headphones</a>
            <small class="text-muted fw-normal mb-0">Photography</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["development"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/04.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/04.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Projects</a>
            <small class="text-muted fw-normal mb-0">Development</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["branding"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/05.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/05.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Cup of Coffee</a>
            <small class="text-muted fw-normal mb-0">Branding</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["designing"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/06.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/06.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Pen and Books</a>
            <small class="text-muted fw-normal mb-0">Designing</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["photography"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/07.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/07.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Strawberry</a>
            <small class="text-muted fw-normal mb-0">Photography</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["development"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/08.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/08.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Leaf and Books</a>
            <small class="text-muted fw-normal mb-0">Development</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["branding"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/09.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/09.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Cactus Plant</a>
            <small class="text-muted fw-normal mb-0">Branding</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["photography"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/10.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/10.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Yellow Bag</a>
            <small class="text-muted fw-normal mb-0">Photography</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["designing"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/11.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/11.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Teapot Table</a>
            <small class="text-muted fw-normal mb-0">Designing</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 spacing picture-item" data-groups='["development"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
          <div class="card-img position-relative">
            <img src="images/portfolio/12.jpg" class="img-fluid" alt="">
            <div class="card-overlay"></div>

            <div class="pop-icon">
              <a href="images/portfolio/12.jpg" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
            </div>
          </div>
          <div class="content text-center p-3">
            <a href="portfolio-detail-one.html" class="text-dark h6 mb-0 d-block title">The Orange</a>
            <small class="text-muted fw-normal mb-0">Development</small>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="row">
      <div class="col-12 mt-4 pt-2">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true"><i class="mdi mdi-chevron-left mdi-18px"></i></span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link active" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true"><i class="mdi mdi-chevron-right mdi-18px"></i></span>
            </a>
          </li>
        </ul>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->