#topnav {
    background-color: red;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: transparent;
    border: 0;
    transition: all .5s ease;
    font-family: "Poppins", sans-serif;
}
#topnav a {
    text-decoration: none;
}
.logo {
    font-weight: 600;
    font-size: 24px;
    margin-right: 15px;
    padding: 0 5px 6px 0;
    letter-spacing: 1px;
    line-height: 68px;
}

#topnav.defaultscroll.dark-menubar .logo {
    line-height: 70px
}

#topnav.defaultscroll.scroll .logo {
    line-height: 62px
}

#topnav.defaultscroll.scroll.dark-menubar .logo {
    line-height: 62px
}
#topnav .logo {
    float: left;
    color: #3c4858 !important
}
@media (min-width: 600px) {
    .carousel-item {
        width: 50%;
    }
}
@media (min-width: 900px) {
    .carousel-item {
        width: 33.33%;
    }
}
